Django==4.2.16
django-ckeditor==6.7.1
Pillow==10.4.0
psycopg2-binary==2.9.9
whitenoise==6.7.0
gunicorn==22.0.0
python-dotenv==1.0.1
django-storages==1.14.4
boto3==1.35.24
dj-database-url==2.2.0
